.section-image {
  height:60vh;
  background-image: url('../../assets/carousel-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-layer {
  background-color: rgba(0, 0, 0, 0.3);
}