.hero {
  background-image: url('../../assets/carousel-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dark-layer {
  background-color: rgba(0, 0, 0, 0.3);
}